
@{
    ViewBag.Title = "Link No Found";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Đường dẫn bạn vừa truy cập không chính xác, xin vui lòng thử lại... </h2>
<a class="mb-3 btn btn-secondary" href="@Url.Action("Index","Services")">Home Admin</a>
<a class="mb-3 btn btn-secondary" href="https://minepi.com/">Giao dịch tài chính</a>

