<div class="row">

    <div class="d-flex bd-highlight">
        <div class="p-2 flex-shrink-0 bd-highlight"></div>
        <div class="p-2 w-100 bd-highlight">



            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="~/Images/slide1.jpg" class="d-block w-100" alt="..." height="420px">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>CÔNG TY TNHH THƯƠNG MẠI KỸ THUẬT AP</h5>
                            <p>Chuyên cung cấp các dịch vụ <br>Điện Lạnh, Điện Nước, Xây Dựng, Thợ Mộc, Vận Chuyển hàng hóa</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="1000">
                        <img src="~/Images/slide2.jpg" class="d-block w-100" alt="..." height="420px">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>CÔNG TY TNHH THƯƠNG MẠI KỸ THUẬT AP</h5>
                            <p>Thợ Điện Nước <br>Chuyên nhân lắp đặt – sửa chữa: điện, ống nước, bóng đèn, lavapo, bồn cầu, máy bơm nước,…</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/slide3.jpg" class="d-block w-100" alt="..." height="420px">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>CÔNG TY TNHH THƯƠNG MẠI KỸ THUẬT AP</h5>
                            <p>Thợ Điện Lạnh<br>Chuyên nhân lắp đặt – sửa chữa: máy lạnh, máy giặt, máy tắm nóng, lò vi sóng,…</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>


        </div>
        <div class="p-2 flex-shrink-0 bd-highlight"></div>
    </div>

</div>